.assets-section{
    background: linear-gradient(180deg,#000000,#000000, 80%,#000000)
}
.assets-section .container__no-paddin  .tab-content__current{
    padding-top: 0px;
}
.content .breadcrumbs{
    color: #150d3d;
}

.tab-list .li{
    color: antiquewhite;
}