.page__inn {
  background: linear-gradient(180deg,#000000,#000000, 80%,#000000)}

.container {
  color: #000000;
}
 .section h1{
  color: #fdfdfd;
 
}
.breadcrumbs__label{
  color: #ffffff;
}
.real-riview{
  
}