.content {
  color: aliceblue;
}
.main-slider__bg .bg img {
  margin-left: 500px;
}



.main-slider {
  background-image: url("/public/images/bg/background.jpg");
  
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}

/* #f8fafc */
.main-slider__btn-container .btn {
  color: aliceblue;
  border-radius: 15px;
  font-weight: 500;
}
.start-trading__inn .btn {
  color: aliceblue;
}
.start-trading__text {
  color: rgb(6, 8, 9);
}

.why-list {
  background: linear-gradient(180deg, #03366a, #488dc5 50%, #fff);
}
.why-list {
  padding-bottom: 22px;
  padding-top: 22px;
}

.form-wrap .btn_blue-gradient {
  color: aliceblue;
}
.slider-footer__text {
  color: black;
}
.reviews-slider__title-desc {
  color: black;
}
.why-list__ {
  margin-left: 10px;
}

.offers__img-wrap img {
  margin-top: 50px;
  max-width: 100px; /* Adjust the maximum width as needed */
  max-height: 100px; /* Adjust the maximum height as needed */
}
.section_light_second_bg {
  background: linear-gradient(180deg, #ffffff, rgb(186, 190, 199) 50%, #ffffff);
}
.card-title {
  font-size: 18px;
}

@media (max-width: 768px) {
  .card-title {
    font-size: 10px;
    color: aqua;

  }
}
.why-we__in h2 {
  font-weight: bold;
}
.reviews-slider__title {
  font-weight: bold;
}
.reviews-slider__title-desc {
  color: #515151;
}
.more-payment {
  transition: background-color 0.3s, cursor 0.3s; /* Smooth transition effect */
}

.more-payment:hover {
 color: rgb(181, 181, 231); /* Chargb(140, 140, 195)the background color to blue on hover */
  cursor: pointer; /* Change the cursor to a pointer on hover */
}
.applications__in h2{
  font-weight: bold;
}
.devices__item .devices__top{
  padding-top: 10px;
}

.review-item__date{
  color: #515151;
}