/* .section .re__section{
    background-color: rgb(6, 6, 64);
} */
.page__in .re__section .re__container{
    background: linear-gradient(180deg,#000000,#000000, 80%,#000000)
 
}
/* .section  .container__no-padding {
    background: linear-gradient(180deg,#8e80d7,#98e0fe, 80%,#495057)

} */
.top-block__in .breadcrumbs__label{
    color: #98e0fe;
}

.top-block__in .container__no-padding{
    color: antiquewhite;
}
.page--regulatory-environment .top-block{
    background: linear-gradient(180deg,#000000,#000000, 80%,#000000)

}

.re__section{
    background: linear-gradient(180deg,#000000,#000000, 80%,#000000)
}
.container__regular{
    height: 20px;
}
