 .content{
    color: antiquewhite;
}
 .core-values__list{
    color: antiquewhite;
}
.documents__left{
    color: black;
}

.page--about-us .top-section{
    background-image: url('/public/images/bg/about.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
  }

  .why__text{
    color: rgb(0, 0, 0);
  }
  .why__info{
    color: black;
  }

  .breadcrumbs-wrap .breadcrumbs__label{
    color: #98e0fe;
  }
  .item__in  .item__title{
    font-weight: bold;
    color: aliceblue;
  }
  .chat .item__title{
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  .container .how-we-work__content .how-we-work__left h2{
    color: rgb(255, 255, 255);
  }

  .content .believe h2{
    color: rgb(255, 255, 255);
  }
  .join-us__content h2{
    color: rgb(0, 0, 0);
  }
  .why__left h2{
    color: rgb(0, 0, 0);
  }